.main p{
	margin:4px;
}

.link img{
	margin-left:30px;
	width:95%;
	height:450px;
}

.link a{
	text-align:center;
	font-size:25px;
	width:95%;
	margin-left:30px;
	display:inline-block;
	text-decoration:none;
	background-color:black;
	color:white;	
}